{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Modify Nurse{% endblock %}</h1>
{% endblock %}

{% block content %}
<article>
    <form action="{{ url_for('modify_nurse', vat=vat, vat_doctor=vat_doctor, date_timestamp=date_timestamp) }}" method="post">
        <label for="nurse">New Nurse</label>
        <select name="nurse" id="nurse" required>
            {% for nurse in nurses %}
                <option>{{ nurse.vat }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Submit"/>
    </form>
</article>
{% endblock %}
